#topTrafficLight{
    background-color: black;
    width: 2rem;
    height:10rem;
}

#trafficBody{
    background-color: black;
    width: 6rem;
    height: 15rem;
    margin:auto;
    padding: 1rem;
    border-radius: 0.8rem;
}

.light{
    margin: auto;
    margin-bottom: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
}

#red{background-color: red;}
#yellow{background-color: yellow;}
#green{background-color: green;}

.activated {box-shadow:
    -10px 0 80px rgb(233, 249, 90),
    10px 0 80px rgb(249, 236, 100);}
